html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.sceneRoot {
	position: relative;
	width: 100vw;
	height: 100vh;
}

.whiteEdgeGradient {
	position: absolute;
	inset: 0;
	pointer-events: none;
	z-index: 5;
	background: radial-gradient(
		ellipse at center,
		rgba(255, 255, 255, 0) 0%,
		rgba(0, 0, 0, 0) 55%,
		rgb(0, 0, 0) 100%
	);
}
